body{
	width: 100%;
	padding: 0px;
	margin: 0px;
	color: #0f0f0f;
	background-color: #c8c7bc;
	
}
.clearFix:after{
	content: "";
	display: block;
	clear: both;
}
a{
	color:#19537d;
	text-decoration: none;
	line-height: 16px;
}
a:hover{
	color: #19537d;
}

#main1{
	width:100%;
	background-color: #5d6146;
	height:60px;
	border-bottom: 1px solid #c8c7bc;
}
#main1 .left{
	width: 160px;
	float: left;
	margin-left: 40px;
	margin-top: 20px;
}
#main1 .left a{
	font-size: 26px;
	float: left;
	line-height: 20px;
	height: 44px;
	color: #F0EFE2;
	font-weight: bold;
}
#main1 .right{
	width:110px;
	float: right;
}
#main1 .right a{
	font-size: 15px;
	float: left;
	line-height: 45px;
	height: 45px;
	width: 50px;
	text-align: center;
	color:#F0EFE2;
}
#main2 {
	width:100%;
	background-color: #c8c7bc;
	height: 60px;
	border-bottom: 2px solid #5d6146;
	border-bottom: 10px solid #5d6146;
	padding: 0px;
	margin: 0px;
	
}
#main2 .main2cont{
	width: 1275px;
	padding-left: 200px;
	padding-top: 10px;
}
#main2 .left1{
	width: 600px;
	float: left;
}
#main2 .left1 a{
	font-size: 21px;
	line-height: 42px;
	height: 44px;
	width: 18%;
	text-align: center;
	color: #000;
	font-weight: bold;
	display: inline-block;
}
#main2 .right1 {
	float: right;
	width: 360px;
	height: 35px;
	margin-top: 7px;
}
.search{
	border: 1px solid #5d6146;
	width: 300px;
	display: inline-block;
	
	
}
#textkey{
	height: 25px;
	line-height: 25px;
	float: left;
	width: 250px;
	font-size: 14px;
	border: 0px;
	background-color: #f8fcfc;
}
#searchkey{
	float: left;
	width:50px;
	height: 26px;
	margin-top:1px;
	border: 0px;
	background-color: #f8fcfc;
	border-left: 2px solid #5d6146;
	
}
#main3{
	width: 1275px;;
	background-color: #c8c7bc;
	height: auto;

	margin-left: 200px;
	
}
#main3 #left{
	width:600px;
	padding: 0px;
	margin: 0px;
	float: left;
}
.page{
    text-align:center;

    float:left;
    width:600px;
    margin-top:30px;
    margin-bottom:60px;
}
.page a,.page span{
    margin-right:12px;
}
.page .num{
    display:inline-block;
    color:#333;
    text-decoration:none;
    width:32px;
    height:32px;
    text-align:center;
    line-height:32px;
}
.page .on{
    background:#333;
    color:#fff;
    border-radius:100%;

 }
.page .num:hover{
    background:#d9dde1;
    border-radius:100%;
}
.page .home,.page . prev{
    color:#999;
    cursor:text;
}
#main3 #left .sons{
	background-color: #FFFFFF;
	height: auto;
	overflow: hidden;
	margin-top: 60px;
	border: 1px solid #c8c7bc;
	border-radius: 5px;
	width: 600px;
	float: left;
}
#main3 #left .sons .cont{
	height: auto;
	margin-top:15px;
	font-size: 14px;
	margin-left: 20px;
	margin-right: 20px;
	line-height: 200%;
	overflow: hidden;
	
}
#main3  #left .sons .tool{
	height: 32px;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 3px;
}
#main3  #left .sons .tag{
	height: auto;
    margin:20px;
	margin-top: 0px;
	margin-bottom: 10px;
	border-top: 1px solid #dad9d1;
	overflow: hidden;
	padding-top: 10px;
}
#main3  #left .sons .tag a{
	float: left;
	color: #999;
	line-height: 20px;
	height: 20px;
	padding: 1px;
	margin-right: 1em;
	border: 1px solid #CBC6C6;
}

#main3 #right{
	width:auto;
	float: right;

	
}
#main3 #right .rightson{
	width: 360px;
	float: right;
	margin-right: 0px;
}

#main3 #right .rightson .sons{
	height: auto;
	width: 298px;
	margin-top: 60px;
	float: left;
	background-color: #fff;
	overflow: hidden;
	border: 1px solid #c8c7bc;
	border-radius: 5px;
	padding-left:10px;
}
#main3 #right .rightson .sons .title{
	height: 25px;
	line-height: 25px;
	clear: both;
	font-size: 18px;
	margin-top: 20px;
	margin-left: 5px;
	overflow: hidden;
	font-weight:border;
}
#main3 #right .rightson .sons .cont{
	height: auto;
	clear: both;
	overflow: hidden;
	padding-bottom: 20px;
}

#main3 #right .rightson .sons .cont a{
	float: left;
	color: #888;
	font-size:14px;
	line-height: 20px;
	height: 20px;
	padding: 1px;
	margin-right: 1em;
}

a:hover{
	color: #19537d;
	font-weight: bolder;
}