{% extends 'user_main.html' %}
{% load staticfiles %}
{% block top %}
		<div class='top'>
			<a href="{% url 'user_web' %}" style="color: saddlebrown">我的收藏</a>
			<a href="{% url 'create' %}">我的默写</a>
			<a href="{% url 'like' %}">我的点赞</a>
			<a href="{% url 'myput' %}">我的创作</a>
			<a href="{% url 'update' %}">修改信息</a>

		</div>
{% endblock top %}

{% block topa %}

<div id="left" style="margin-bottom:40px;">
			{% for work in works %}
			<div class="sons">
				<div class="cont">
					<p>
						<a href="#">
							<b>{{work.wkname}}</b>
						</a>
					</p>
					<p class="source">
						<a href="#">{{work.dynasty}}</a>
						<span>:</span>
						<a href="#">{{work.author}}</a>
					</p>
					<div class="contson">
						{{work.content|safe}}
					</div>
				</div>
				<div class="tool" style="width:550">
					<a href="">
            		&nbsp;<img  src="{% static 'img/shoucang.png' %}" class="icon" style="width:20px;float:right">
					</a>
				</div>
				<div class="tag">
					{%for tag in work.tags%}
					<a>{{tag}}</a>
					{% endfor %}

					<div class="time">
						<p style="float:right;font-size:13px;">{{work.collect_time}}</p>
					</div>
				</div>
			</div>
			{% endfor %}
</div>

{% endblock topa %}