<!doctype html>
{% load staticfiles %}
<html>
<head>
<meta charset="utf-8">
<title>个人中心</title>

	<link rel="stylesheet" type="text/css" href="{% static 'css/user_main.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/update.css' %}"/>
</head>

<body>
	<div class="main1">
		<div class="left">
			
			<a href="{% url 'main' %}">诗词在线学习</a>
			<div class="quit"><a href="{% url 'quit' %}" style="font-size:14px">退出登录</a></div>
			
		</div>
	
		<div class="pic">
			
			<img src="{% static 'img/default.jpg' %}" class="round_icon">
			<div class="name">{{username}}</div>
		
		</div>

	</div>

	
	<div class="main2">
		{% block top %}
		{% endblock top %}

	</div>

	<div id="main3">
		{% block topa %}

		{% endblock topa %}
	</div>

</body>
</html>
